<!DOCTYPE html>
<!-- 
  The consent.html displays the text of your IRB-approved
  consent form.  Even if you are not required to provide
  a consent form, it is helpful to use this form to 
  describe what people can do if an error comes up, etc...

-->
<html>
<head>
    <meta charset="utf-8" />
    <title>Psychology Experiment - Informed Consent Form</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <script type="text/javascript">
        function onexit() {
              self.close(); // no harm, no foul here
          }
      </script>
  </head>
  <body>
    <div id="container-consent">
        <div id="consent">
            <h1>We need your consent to proceed</h1>
            <hr />
            <div class="legal well">
                <p> 
                    <strong>Key Information</strong><br />
                    You are invited to take part in a Brown University research study. Your participation is voluntary.<br /><br />
                    <ul>
                        <li>PURPOSE: The study aims to improve our understanding of how we make choices and perform cognitive tasks.</li>
                        <li>PROCEDURES: You will be asked to complete several computerized tasks. You may be asked to complete brief surveys about your preferences, personal questions, and demographic information. Following the experiment, you will be informed more about the goals of this study.</li>
                        <li>TIME INVOLVED: The study will take approximately 5-60 minutes of your time.</li>
                        <li>COMPENSATION: You will be paid a base rate for each study completed. Base rates range from $.40 for short tasks that are under 7 minutes, to $3.00 for hour-long studies. You may receive additional compensation (e.g., in the form of monetary rewards or gift cards) based on your choices and/or performance on the available tasks.</li>
                        <li>RISKS: Some tasks can require mental effort so you may experience some fatigue, but you will receive ample breaks. It is possible that some questions on the surveys may make you uncomfortable, but you are free to skip these types of questions.</li>
                        <li>BENEFITS: You will not receive any direct benefit from participating.</li>
                    </ul>
                    <br /><br /><strong>Procedures</strong><br />
                    This study investigates how people perform cognitive or physical task and/or how they make decisions about those tasks. Participation in this study is completely voluntary, and you may withdraw at any point. In order to participate, you must be between 18 and 55 years old. <br/><br/>
                    You will be asked to complete several computerized tasks that will involve viewing stimuli on the screen (e.g., shapes, words, images, complex patterns) and indicating a response based on the task instructions indicated. Responses may involve making choices, performing a mental task (e.g., holding information in memory), and/or performing a physical action (e.g., pressing a button). Some of these tasks may offer additional incentives over and above your base pay (see Compensation). You may be asked to complete brief surveys about your preferences, personal questions, and demographic information. Following the experiment, you will be debriefed on the specific experimental goals.
                    <br /><br /><strong>Study Duration</strong><br />
                    Participation will take approximately 5-60 minutes.
                    <br /><br /><strong>Potential Risks</strong><br />
                    Experiments involve operating a desktop computer or handling small objects (e.g. a keypad). The tasks involved in these experiments can require some mental effort, and you may therefore experience some fatigue during the experiment. However, for those studies, you will receive ample time for rest periods and/or stretch breaks. It is also possible that some questions on the surveys may make you uncomfortable. However, if that is the case, you are free to skip these types of questions.
                    <br /><br /><strong>Potential Benefit</strong><br />
                    You will not receive any direct benefit from your participating though you may draw satisfaction from the knowledge that information generated by this study may help promote better understanding of the mechanisms involved in how we make decisions.
                    <br /><br /><strong>Compensation</strong><br />
                    You will be paid a base rate for each study completed. Base rates range from $.40 for short tasks that are under 7 minutes, to $3.00 for hour-long studies. In addition to this compensation, you may receive additional compensation (e.g., in the form of monetary rewards or gift cards) based on your choices and/or performance on the available tasks. If you decide to withdraw from the study before it is over, you will still receive your compensation.
                    <br /><br /><strong>Confidentiality</strong><br />
                    The research team will make every effort to keep all the information you tell us during the study strictly confidential. Any documents you sign, where you can be identified by name will be kept in a locked drawer in an office in the CLPS Department. These documents will be kept confidential. Data from this study may be shared with other investigators for research purposes. Under those conditions, we will only share de-identified data – data absent the names of the participants and other potentially identifying information.<br /><br />
                    Your mTurk ID (the 14 character sequence of letters and numbers used to identify mTurk workers) will be recorded with your data as a way for us to confirm you have completed the experiment and then properly compensate and bonus you. While your mTurk ID does not directly identify you, it can be linked to your public profile page. As such, you may wish to restrict what information you choose to share on this public profile. Our only purpose for recording your mTurk ID will be to distribute compensation. Your mTurk ID will not be shared with anyone outside of our research team. For more information about the privacy and confidentiality limitations associated with using mTurk please refer to Amazon’s mTurk Privacy Policy: https://www.mturk.com/mturk/privacynotice.<br /><br />
                    Additionally, Amazon has a warning to workers regarding contacting requesters (https://www.mturk.com/mturk/contact). This warning states, "Your email address will automatically be inserted into the message so the Requester can reply to you." Amazon will also insert your name into the email. If you choose to contact us, your name and email will only ever be used to respond to your communications. That information will not be saved or distributed to anyone outside of our research team.
                    <br /><br /><strong>Rights</strong><br />
                    Your participation in this study is completely voluntary, and you may withdraw at any time without penalty.  If you withdraw, you will receive full payment or study pool credit.  You may withdraw by closing the browser window in which you are completing the study and emailing our research staff at shenhavlab.brown@gmail.com to indicate that you have withdrawn, and no questions will be asked. You are also free to omit an answer for any of the questionnaires or to stop any of the tasks at any point.
                    <br /><br /><strong>Further Questions</strong><br />
                    If you have any questions or concerns about this study or the research being conducted, you may contact the Principal Investigator, Amitai Shenhav, Ph.D., at (401) 863-5198 or amitai_shenhav@brown.edu. If you have questions about your rights and welfare as a volunteer in the research study you may contact the Brown University Human Research Protection Program at (401) 863-3050. (If out of state, use the toll-free number 1-866-309-2095.) You may also email the office at IRB@brown.edu.
                </p>

                <button type="button" class="btn btn-default btn-sm pull-right" onClick="window.print();">
                    <span class="glyphicon glyphicon-print"></span> Print a copy of this
                </button>

                <br />
            </div>

            <hr />
            <p>
                <strong>Your Signature</strong><br />           
                By clicking this box below, I affirm that I have read and understand the information contained in the form, and that I agree to take part in this study. I understand that participation is voluntary and that I may refuse or discontinue participation at any time without penalty or loss of benefits indicated above. I do not give up any of my legal rights by signing this form.
            </p>
            <br />

            <center>
                <button type="button" class="btn btn-primary btn-lg" onClick="window.location='/exp?hitId={{ hitid }}&assignmentId={{ assignmentid }}&workerId={{ workerid }}'">
                    <span class="glyphicon glyphicon-ok"></span> I agree 
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger btn-lg" onClick="onexit()">
                    <span class="glyphicon glyphicon-ban-circle"></span> No thanks, I don't want to do this HIT
                </button>
            </center>

        </div>
    </div>
</body>
</html>

