<div id="container-instructions">

    <h1>Instructions</h1>

    <hr />

    <div class="instructions well">

        <p>
            <font size=4>
                For example, you may see the word <strong>YELLOW</strong> printed in <strong>GREEN INK</strong>. 
                <br><br>
                <p style="color:green">
                <font size=8>
                YELLOW
                <font size=4>
                <p style="color:black">
                The correct response here is GREEN! You should press the <strong>K</strong> key. 
            </font>

        </p>

        <script type="text/javascript">

            $("body").unbind("keydown").focus().keydown(continue_handler);
        </script>

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-8">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg center-block continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
    </div>

</div>

<div id="myProgress">
    <div id="myPracticeContainer">
        <div id="Untimedkeymapping" class='myPracticeBars' style="width: 12.5%;background-color: #FFCD58;"></div> 
        <div id="timedKeymapping" class='myPracticeBars' style="width: 12.5%;background-color: #FFCD58;"></div>
        <div id="keymappingTest"  class='myPracticeBars' style="width: 12.5%;background-color: #FFCD58;"></div>
        <div id="interference"  class='myPracticeBars' style="width: 12.5%;background-color: #f7e3b5;"></div>
        <div id="interval"  class='myPracticeBars' style="width: 12.5%;background-color: #f7e3b5;"></div>
        <div id="performancePractice" class='myPracticeBars' style="width: 12.5%;background-color: #f7e3b5;"></div>
        <div id="randomPractice" class='myPracticeBars' style="width: 12.5%;background-color: #f7e3b5;"></div>
        <div id="practiceAll"  class='myPracticeBars' style="width: 12.5%;background-color: #f7e3b5;"></div>  
    </div>
    <div id="block1"  class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block2" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block3" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block4" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block5" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block6" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block7" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
    <div id="block8" class='myMainTaskBars' style="width: 11.666%;background-color: #f6b8b3;"></div>
 
 
  </div>